<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop.xsd ">
<bean id="logg" class="com.myorg.aspect.Logging"></bean>
<aop:aspectj-autoproxy/>
<!-- <aop:config>
		<aop:aspect id="logger" ref="logg">
			<aop:after-returning method="afterReturn"
				pointcut="execution(public String com.myorg.model.Employee.getName(..))"
				returning="retVal" />
		</aop:aspect>
</aop:config>
 -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource">
		<property name="url">
			<value>jdbc:mysql://localhost:3306/test</value>
		</property>
		<property name="username">
			<value>root</value>
		</property>
		<property name="password"><value></value></property>
	</bean>
	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mappingResources">
			<list>
				<value>user.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop> -->
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.Oracle9Dialect</prop> -->
				<!--<prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop> -->
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.max_fetch_depth">3</prop>
			</props>			
		</property>
	</bean>
<bean id="hibernateuserDao" class="com.myorg.dao.hibernate.HibernateUserDao">
<property name="sessionFactory" ref="sessionFactory"/>
</bean>
	<bean id="sagar" class="com.myorg.model.Employee">
		<property name="id" value="593250" />
		<property name="name" value="sagar" />
		<property name="currentAddress" ref="address"></property>
		<property name="permanentAddress" ref="address"></property>
		<property name="skills">
			<set>
				<bean class="com.myorg.model.Skill">
					<constructor-arg value="0001" />
					<constructor-arg value="Java" />
					<constructor-arg value="core java and j2ee" />
				</bean>

			</set>
		</property>
	</bean>

	<bean id="address" class="com.myorg.model.Address">
		<constructor-arg value="fadake road" />
		<constructor-arg value="dombivli" />
		<constructor-arg value="maharashtra" />
		<constructor-arg value="421202" />
	</bean>
	
		
	
</beans>